<h5 class="mb-3 mt-4">Live nodes</h5>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ip</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(key, value) in $ctrl.nodes track by $index">
        <th scope="row">{{$index + 1}}</th>
        <td>{{key}}</td>
        <td>
            <h5>
                <span class="badge badge-success" ng-if="value">Up <i class="fas fa-thumbs-up"></i></span>
                <span class="badge badge-danger" ng-if="!value">Down <i class="fas fa-thumbs-down"></i></span>
            </h5>
        </td>
    </tr>
    </tbody>
</table>