<form>
    <div ng-if="$ctrl.runConfiguration.parcelId" class="form-group">
        <label for="id">Parcel id</label>
        <input type="text" class="form-control" id="id" ng-value="$ctrl.runConfiguration.parcelId" readonly>
    </div>
    <div class="form-group">
        <label for="runOnNodes">Select nodes to run</label>
        <select ng-model="$ctrl.runConfiguration.nodeIdentifiers" class="custom-select" id="runOnNodes" multiple>
            <option selected value="localhost">localhost</option>
        </select>
    </div>
    <div class="form-group">
        <label for="loopCount">Loop count</label>
        <input type="number" class="form-control" id="loopCount" aria-describedby="loopCountHelp"
               ng-model="$ctrl.runConfiguration.loopCount">
        <small id="loopCountHelp" class="form-text text-muted">Enter number of loops to run.</small>
    </div>
    <label for="threadsNumber">Threads <span class="badge badge-light">{{$ctrl.runConfiguration.threadsNumber}}</span></label>
    <input type="range" class="custom-range" id="threadsNumber" min="1" max="512"
           ng-model="$ctrl.runConfiguration.threadsNumber">
    <label ng-if="$ctrl.parametersMetadata.length > 0">Test custom parameters</label>
    <div class="form-group row" ng-repeat="metadata in $ctrl.parametersMetadata">
        <label class="col-sm-2 col-form-label">{{metadata.name}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="$ctrl.runConfiguration.parameters[metadata.name]">
        </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.runTest()">Run test</button>
</form>