<div class="alert alert-info" role="alert" ng-if="$ctrl.metadata.length == 0">
    You don't have any test snapshots yet. Run the test first.
</div>
<div class="row" ng-if="$ctrl.metadata.length > 0">
    <div class="col-4">
        <a ng-repeat="option in $ctrl.metadata" href class="list-group-item list-group-item-action"
           ng-class="{active: $ctrl.isActive(option.testRunId)}"
           ng-click="$ctrl.selectTest(option.testRunId)">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Short id: {{option.testRunId | limitTo: 8}}</h5>
                <small>{{option.initializationTime * 1000 | date : 'medium'}}</small>
            </div>
            <p class="mb-1">{{option.testName}}</p>
        </a>
    </div>
    <div class="col-8">
        <div class="tab-content">
            <h4>{{$ctrl.testRunId}}</h4>
            <div class="row justify-content-center">
                <span class="badge m-2" ng-repeat="event in $ctrl.events"
                      ng-class="$ctrl.getStatusStyle(event.eventType)">
                    {{event.eventType}}
                </span>
            </div>
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col">timestamp</th>
                    <th scope="col">name</th>
                    <th scope="col">value</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="metric in $ctrl.metrics">
                    <td>{{metric.timestamp * 1000 | date : 'medium'}}</td>
                    <td>{{metric.name}}</td>
                    <td>{{metric.value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>