<form>
    <div ng-if="parcel.id" class="form-group">
        <label for="id">Parcel id</label>
        <input type="text" class="form-control" id="id" ng-value="$ctrl.parcel.id" readonly>
    </div>
</form>

<div class="progress mb-3" ng-if="$ctrl.uploading">
    <div class="progress-bar"
         role="progressbar"
         ng-style="{width: $ctrl.uploaded + '%'}"
         aria-valuenow="{{$ctrl.uploaded}}"
         aria-valuemin="0"
         aria-valuemax="100">
        {{$ctrl.uploaded}}%
    </div>
</div>

<div class="input-group mb-3" ng-if="$ctrl.parcel.id === undefined && !$ctrl.uploading">
    <div class="custom-file">
        <input type="file" ngf-select="$ctrl.uploadParcel($file)" class="custom-file-input" id="parcelFileInput">
        <label class="custom-file-label" for="parcelFileInput">Choose parcel to upload</label>
    </div>
</div>
